# Telegram Bot Token (get from @BotFather)
TELEGRAM_BOT_TOKEN=your_bot_token_here

# Your Telegram User ID (get from @userinfobot)
ALLOWED_USER_ID=your_user_id_here

ALLOWED_USER_IDS=list_of_user_ids

# PUESC URL
PUESC_URL=https://puesc.gov.pl/en/uslugi/przewoz-towarow-objety-monitorowaniem/rmpd-406?systemName=SENT&formName=1000972
